# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# Node
node_modules/
server/node_modules/

# Misc
.DS_Store
Thumbs.db
